<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <form id="searchBar" action="#" method="POST">
        <input type="text" name="query" width="700px">
    </form>
    <article>
        <div id="column1">
            <form id="firstColumnContainer" action="#" method="POST" class="imageForms">
                <input id="col1Wallpaper" src="#" type="image"/>
            </form>
        </div>

        <div id="column2">
            <form id="secondColumnContainer" action="#" method="POST" class="imageForms">
                <input id="col2Wallpaper" src="#" type="image"/>
            </form>
        </div>
    </article>
</body>
</html>