<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Home</title>
    <link href="../../static/css/home.css" rel="stylesheet">
</head>
<body>
    <header>
        <img id="headerImg" src="../../static/images/maxpapers_logo.png" alt="">
    </header>
    <section>
        <form action="#" id="themeForm" method="POST">
            <select name="theme" id="themeSelection" onchange="
            document.getElementById('themeForm').submit()">
                <option value="" selected disabled hidden>Theme</option>
                <option value="#" id="themeOption"></option>
            </select>
        </form>
        
        <form action="#" method="POST" id="searchBar">
            <input type="text" placeholder="Search" name="query">
        </form>
    </section>
    <article>
        <div id="column1">
            <form id="firstColumnContainer" action="#" method="POST" class="imageForms">
                <input id="col1Wallpaper" src="#" type="image"/>
                <label id="col1Label" for="firstColumnContainer" class="titleLabels"></label>
            </form>

<!--                <form id="firstColumnContainer" action="#" method="POST" class="imageForms">-->
<!--                    <input id="col1Wallpaper" src="1.jpg" type="image"/>-->
<!--                    <label id="col1Label" for="firstColumnContainer" class="titleLabels">test label</label>-->
<!--                </form>-->

<!--                <form id="firstColumnContainer" action="#" method="POST" class="imageForms">-->
<!--                    <input id="col1Wallpaper" src="2.jpg" type="image"/>-->
<!--                    <label id="col1Label" for="firstColumnContainer" class="titleLabels">test label</label>-->
<!--                </form>-->

<!--                <form id="firstColumnContainer" action="#" method="POST" class="imageForms">-->
<!--                    <input id="col1Wallpaper" src="3.jpg" type="image"/>-->
<!--                    <label id="col1Label" for="firstColumnContainer" class="titleLabels">test label</label>-->
<!--                </form>-->


            
        </div>
        
        <div id="column2">
            <form id="secondColumnContainer" action="#" method="POST" class="imageForms">
                <input id="col2Wallpaper" src="#" type="image"/>
                <label id="col2Label" for="secondColumnContainer"class="titleLabels" ></label>
            </form>


<!--            <form id="secondColumnContainer" action="#" method="POST" class="imageForms">-->
<!--                <input id="col2Wallpaper" src="1.jpg" type="image"/>-->
<!--                <label id="col2Label" for="secondColumnContainer"class="titleLabels" >test label</label>-->
<!--            </form>-->

<!--            <form id="secondColumnContainer" action="#" method="POST" class="imageForms">-->
<!--                <input id="col2Wallpaper" src="2.jpg" type="image"/>-->
<!--                <label id="col2Label" for="secondColumnContainer"class="titleLabels" >test label</label>-->
<!--            </form>-->

<!--            <form id="secondColumnContainer" action="#" method="POST" class="imageForms">-->
<!--                <input id="col2Wallpaper" src="3.jpg" type="image"/>-->
<!--                <label id="col2Label" for="secondColumnContainer"class="titleLabels" >test label</label>-->
<!--            </form>-->

            
        </div>

       
    </article>
    <footer>
        <h3> Created by Victor Henrique </h3>
        <ul>
            <li>
                <div>
                    <img id="gitIcon" src="../../static/images/github_icon.png" alt="">
                    <a href="https://github.com/VictorHenrique317">Github</a>
                </div>
            </li>
            <li>
                <div>
                    <img id="linkedInIcon" src="../../static/images/linkedin_icon.png" alt="">
                    <a href="https://www.linkedin.com/in/victorhenrique5800/">LinkedIn</a>
                </div>
            </li>
        </ul>
    </footer>
</body>
</html>