*{
    padding: 0;
    margin: 0;
}

body{
    padding-bottom: 0;
    width: 100%;
    padding-bottom: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/background.jpg);
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(18,47,43);
}

header img{
    width: 70vw;
}

header img:hover{
    cursor: pointer;
}

header h1{
    width: 100%;
    text-align: center;
    font-size: 15vw;
}

header h2{
    width: 100%;
    text-align: center;
    font-size: 8vw;
}


section{
    width: 100%;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color:rgb(72, 126, 101);
}


#searchBar{
    width: 50vw;
    height: 100%;
    display: flex;
    margin-right: 1em;

    justify-content: flex-end;
    align-items: center;
}

#searchBar input{
    width: 80%;
    height: 1em;
    padding-left: 1em;
    font-size: 0.5em;
    text-align: start;
}

article{
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom:2em;
    background-color: rgb(206, 219, 212);
}

#column1{
    width: 50%;
    float: left;
}

#column2{
    width: 50%;
    float: left;
}

.imageForms{
    padding: 1em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageForms input{
    width: 40vw;
}

.titleLabels{
    width: 100%;
    margin-left: 3.5em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    justify-content: right;
    text-align: start;
    color: rgb(18,47,43);
}

.titleLabels:hover{
    cursor: pointer;
    color: rgb(61, 134, 110);
}

footer{
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgb(18,47,43);

    position: absolute;
    bottom: 0;
}

footer h3{
    width: 60%;
    text-align: center;
    font-size: 18px;
    color: white;
}

footer ul{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em 0 0 1em;
}

footer ul li{
    padding-bottom: 1em;
    list-style: none;
}

footer ul li div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer ul li div:hover{
    cursor: pointer;
}

footer ul li div img{
    width: 1.25em;
}

footer ul li div a{
    text-align: center;
    margin-left: 0.75em;
    text-decoration: none;
    color: white;
}


footer ul li div:hover > a{
    color: rgb(43,118,79);
}

@media(min-width:800px){
    body{
        padding-bottom: 300px;
    }
    header{
        height: 17vw;
    }
    header img{
        width: 40vw;
    }
    section{
        height: 2.5em;
    }

    #searchBar{
        margin-right: 3em;
        height:auto;
    }
    
    #searchBar input{
        width: 70%;
        height: auto;
        margin-right: 6em;
        height: 1em;
        font-size: 20px;
    }

    .imageForms input{
        width: 41vw;
    }

    .titleLabels{
        height:auto;
        font-size: 30px;
        margin-top: 0.25em;
        margin-bottom: 0.5em;
        margin-left: 2em;
    }

    footer{
        padding: 60px 0 50px 0;
    }

    footer h3{
        font-size: 40px;
    }

    footer ul li div img{
        width: 3.5em;
    }

    footer ul li div a{
        font-size: 30px;
    }
}

