*{
    padding: 0;
    margin: 0;
}

body{
    padding-bottom: 0;
    position: relative;
    width: 100%;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/background.jpg);
    background-attachment: fixed;

}

header{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(18,47,43);
}

header img{
    width: 70vw;
}

header img:hover{
    cursor: pointer;
}

header h1{
    width: 100%;
    text-align: center;
    font-size: 15vw;
}

header h2{
    width: 100%;
    text-align: center;
    font-size: 8vw;
}


section{
    width: 100%;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color:rgb(72, 126, 101);
}

#searchBar{
    width: 50vw;
    height: 100%;
    display: flex;
    margin-right: 1em;

    justify-content: flex-end;
    align-items: center;
}

#searchBar input{
    width: 80%;
    height: 1em;
    padding-left: 1em;
    font-size: 0.5em;
    text-align: start;
}

article{
    width: 86%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom:2em;
    background-color: rgb(206, 219, 212);
}

#currentWallpaperContainer{
    flex: 1;
    padding: 0.75em 0 1em 0.75em;
}

#currentWallpaperContainer #wallpaper{
    width: 50vw;
}

#currentWallpaperContainer #photoTitle{
    margin-top: 0.5em;
}

#currentWallpaperContainer #downloadForm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#currentWallpaperContainer #downloadForm #downloadButton{
    width: 8.5em;

    margin:0.5em 0 0 0.0em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
}

#currentWallpaperContainer #downloadForm #downloadButton i{
    margin-right: 0.5em;
}


#relatedWallpapersContainer{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.75em;
}

#relatedWallpapersContainer ul {
    display: flex;
    flex-direction: column;
}

#relatedWallpapersContainer ul li{
    padding-bottom: 1em;
    list-style: none;
}

#relatedWallpapersContainer ul li #relatedText{
    padding-bottom: 0;
}

#relatedWallpapersContainer ul li label{
    height: fit-content;
    display: flex;
    font-size: 15px;
}


#relatedWallpapersContainer ul li label:hover{
    cursor: pointer;
    color: rgb(18,47,43);
}

.relatedImages{
    width: 24vw;
}

footer{
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgb(18,47,43);

    position: absolute;
    bottom: 0px;
}

footer h3{
    width: 60%;
    text-align: center;
    font-size: 18px;
    color: white;
}

footer ul{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em 0 0 1em;
}

footer ul li{
    padding-bottom: 1em;
    list-style: none;
}

footer ul li div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer ul li div:hover{
    cursor: pointer;
}

footer ul li div img{
    width: 1.25em;
}

footer ul li div a{
    text-align: center;
    margin-left: 0.75em;
    text-decoration: none;
    color: white;
}


footer ul li div:hover > a{
    color: rgb(43,118,79);
}

@media(min-width:800px){
    body{
        padding-bottom: 300px;
    }
    header{
        height: 17vw;
    }
    header img{
        width: 40vw;
    }
    section{
        height: 2.5em;
    }

    article{
        padding-top: 2em;
    }

    #searchBar{
        margin-right: 3em;
        height:auto;
    }
    
    #searchBar input{
        width: 70%;
        height: auto;
        margin-right: 6em;
        height: 1em;
        font-size: 20px;
    }

    #currentWallpaperContainer{
        padding-left: 2em;
    }

    #currentWallpaperContainer #photoTitle{
        padding-top: 0.5em;
        font-size: 3.5em;
    }

    #currentWallpaperContainer #downloadForm #downloadButton{
        width: 40vw;   
    }

    #relatedWallpapersContainer ul li #relatedText{
        padding-top: 0.5em;
        margin-bottom: 2em;
        font-size: 2em;
    }

    #relatedWallpapersContainer ul li label{
        font-size: 1.5em;
    }
    footer{
        padding: 60px 0 50px 0;
    }

    footer h3{
        font-size: 40px;
    }

    footer ul li div img{
        width: 3.5em;
    }

    footer ul li div a{
        font-size: 30px;
    }
}

